{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{{ user_data.name }}'s Profile | Hidden Recipe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/responsive.css' %}">
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/user/dashboard/" title=""><img src="https://i.imgur.com/54esHEh.png" width="38" height="35" alt=""></a>
					</div>
					<!--logo end-->
					<!--search-bar end-->
					<div class="user-account">
						<div class="user-info">
                                <a href="/hidden_admin/dashboard/" title="">
									<span><i class="fa fa-home"></i></span>
									Home
								</a>
						</div>
						<!--user-account-settingss end-->
					</div>
				</div>
				<!--header-data end-->
			</div>
		</header>
		<!--header end-->
		<main>
			<br><br><br>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<div class="picture-container">
														<div class="picture">
															{% if user_data.profile_pic == "" %}
															<img src="https://i.imgur.com/ngIaMoW.png" class="picture-src" id="wizardPicturePreview" title="">
															{% else %}
															<img src="/media/{{ user_data.profile_pic }}" class="picture-src" id="wizardPicturePreview" title="">
															{% endif %}
														</div>
													</div>
												</div>
											</div>
											<!--username-dt end-->
											<div class="user-specs">
												<h3>{{ user_data.name }}</h3>
											</div>
										</div>
										<!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Recipes Uploaded</h4>
												<span>{{ recipes_count }}</span>
											</li>
										</ul>
									</div>
									<!--tags-sec end-->
								</div>
								<!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="posts-section">
										{% for i in recipes_data %}
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt" align="right" style="margin-left:75%">
														<ul class="skill-tags">
															<li><a href="/recipe/delete/?recipe_id={{ i.recipe_id }}" onclick="return Delete()" title="">Delete</a></li>
														</ul>
												</div>
												<div class="usy-dt">
													<div class="usy-name">
                                                        <h3>{{ i.recipe_name }}</h3>
                                                        <small>{{ i.posted_date|date:"SHORT_DATE_FORMAT" }}</small>
													</div>
												</div>
											</div>
											<div class="job_descp">
												<p>{{ i.description }}</p>
												{% for j in i.images %}
												<div><img src="/media/{{ j }}" width="100%"></div>
												{% endfor %}

												<ul class="skill-tags">
													<br><br>
													{% for j in i.ingredients %}
													<li><a href="#" title="">{{ j }}</a></li>
													{% endfor %}
												</ul>
											</div>
										</div>
										<!--post-bar end-->
										{% endfor %}
									</div>
									<!--posts-section end-->
								</div>
								<!--main-ws-sec end-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script type="text/javascript" src="{% static 'users/script.js' %}"></script>
	<script>
	function Delete() {
		var check = window.confirm("Are you sure want to delete this recipe?")
		if (check){
			return true;
		}
		else{
			return false;
		}
	}
	</script>
</body>

</html>