{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Users Data | Hidden Recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet" />
    <link href="{% static 'hidden_admin/paper-dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'hidden_admin/demo.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        Hidden Recipe
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="/hidden_admin/dashboard/">
                            <i class="ti-panel"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/hidden_admin/dashboard/view-users/?count=0">
                            <i class="ti-user"></i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li>
                        <a href="/hidden_admin/dashboard/view-recipes/?count=0">
                            <i class="ti-server"></i>
                            <p>Recipes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/hidden_admin/dashboard/report-recipes/">
                            <i class="ti-close"></i>
                            <p>Reported Recipes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/hidden_admin/dashboard/view-contacts/?count=0">
                            <i class="ti-email"></i>
                            <p>Contacts</p>
                        </a>
                    </li>
                    <li>
                        <a href="table.html">
                            <i class="ti-settings"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="logout/">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <p>Logout</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    {% if users_data == "" %}
                    <p style="color: red">No Data Available!!</p>
                    <a href="/hidden_admin/dashboard/view-users/?count=0">
                        <button type="submit" class="btn btn-info">Back</button>
                    </a>
                    {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th class="navbar-collapse">Password</th>
                                <th class="navbar-collapse">Status</th>
                                <th>View Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in users_data %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.mobile }}</td>
                                <td class="navbar-collapse">{{ i.password }}</td>
                                <td class="navbar-collapse">{{ i.status }}</td>
                                <td><a href="/hidden_admin/dashboard/view-user/?user_id={{ i.email }}">View Profile</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-3">
                            {% if total > 5 %} 
                            <button class="btn btn-info" id="previous" style="width:40%" onclick="return Previous({{ count }})">Previous</button>
                            {% endif %}
                        </div>
                        <div class="col-lg-6"></div>
                        <div class="col-lg-3">
                            {% if total > count %}
                            <button class="btn btn-info" onclick="return Next({{ count }})" style="width:40%" id="next">Next</button></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{% static 'hidden_admin/paper-dashboard.js' %}"></script>

<script>
    function Next(count) {
        var redirect_url = "http://www.hiddenrecipe.in/hidden_admin/dashboard/view-users/?count=" + (parseInt(count)+5)
        return window.location.href = redirect_url;
    }
    function Previous(count) {
        var redirect_url = "http://www.hiddenrecipe.in/hidden_admin/dashboard/view-users/?count=" + (parseInt(count)-5)
        return window.location.href = redirect_url;
    }
</script>

</html>