{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About me | HiddenRecipe</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'index/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'index/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#e25822"
                    },
                    "button": {
                        "background": "#ffffff"
                    }
                },
                "showLink": false,
                "theme": "classic",
                "position": "bottom-right"
            })
        });
    </script>
</head>

<body>
    <nav id="nav" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="/">
                        <img class="logo" src="https://i.imgur.com/e2UwLRI.png" alt="logo">
                    </a>
                </div>
                <div class="nav-collapse">
                    <span></span>
                </div>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                {% if link == "/" %}
                <li><a href="{{ link }}">Back to Home</a></li>
                {% else %}
                <li><a href="{{ link }}">Get back to Dashboard</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="about" class="section">
        <div class="container">
            <div class="row" style="padding-left: 15px; padding-right: 15px">
                <div class="section-header text-center">
                    <h2 class="title">About me</h2>
                </div>
                <div id="developer">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="https://i.imgur.com/jhMueRR.jpg" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://www.facebook.com/Krish.6987"><i class="fa fa-facebook"></i></a>
                                        <a href="https://plus.google.com/u/0/102914926637335703184"><i class="fa fa-google-plus"></i></a>
                                        <a href="https://www.linkedin.com/in/krishna-srinivas-89724910a/"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://twitter.com/itsmeekrish"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/itsmee_krish/"><i class="fa fa-instagram"></i></a>
                                        <a href="https://www.youtube.com/channel/UCkUv5QECxQjB-2Xk9E6pbCA"><i class="fa fa-youtube-play"></i></a>
                                    </div>
                                    <center>
                                        <div style="padding-top: 70px; padding-left: 10px; padding-right: 50px">
                                            " Look at the sky. We are not alone. The whole universe is friendly to us and conspires only to give the best to those who dream and work."<br>
                                            -Dr. A. P. J. Abdul Kalam                                            
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>KRISHNA SRINIVAS</h3>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            Hello, This is Krishna Srinivas. I'm pursuing my Bachelor's degree in the stream of Information Technology
            from GMR Institue of Technology. As I'm from Tech background I'm very much interested in web application
            development. I'm basically a coder with good skills. I have done 6 months internship in a startup
            company where I have learned Python. I really fell in love with it and started to work with it.
            with it and started to work with it.
            <div class="clearfix"></div><br>
            I was got to know about coding from 2015. I initially worked with C to later Java and then completed moved
            towards Python. Hidden Recipe is my first web application where initially started it in Android later moved
            to the web for Python.
            <div class="clearfix"></div><br>
            Coming to my Industrial exposure, I have done a one-month internship on the Android App development and six
            months internship on the web application development majorly on Django and MongoDB. I got to know how to
            use email API's with mailjet, SendGrid, Sparkpost and I have used SendGrid service to send emails in this
            application.
            <div class="clearfix"></div><br>
            I also have some passion for short filmmaking. When I was 18 I have directed a short film titled "Kalam
            Marina Preminchadam Maradu" which is a comedy flick. Here's the link for it <a href="https://www.youtube.com/watch?v=i3m4ulO38QI">Kalam Marina Preminchadam Maradu</a>
            <div class="clearfix"></div>
        </div><br>
    </div>
    </div>
    <footer id="footer" class="sm-padding bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-logo">
                        <a href="/"><img src="https://i.imgur.com/cCjcZhD.png" alt="logo"></a>
                    </div>
                    <div class="footer-follow">
                        <a href="/terms-and-conditions/" title="" style="padding-right: 10px;">Terms and Conditions</a>
                        <a href="/privacy-policy/" title="">Privacy Policy</a>
                    </div>
                    <ul class="footer-follow">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <div class="footer-copyright">
                        <p>Copyright © 2018. All Rights Reserved. Designed by <a href="/">HIDDEN RECIPE</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <p style="color:#1C1D21">Credits: Colorlib</p>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'index/main.js' %}"></script>
</body>

</html>