{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HiddenRecipe</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
	<link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
	<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" />
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="{% static 'index/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
	<script>
		window.addEventListener("load", function () {
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#e25822"
					},
					"button": {
						"background": "#ffffff"
					}
				},
				"showLink": false,
				"theme": "classic",
				"position": "bottom-right"
			})
		});
	</script>
</head>

<body>

	<header id="home">
		<div class="bg-img" style="background-image: url('https://i.imgur.com/RHxgrvK.jpg');">
			<div class="overlay"></div>
		</div>
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="https://i.imgur.com/e2UwLRI.png" alt="logo">
							<img class="logo-alt" src="https://i.imgur.com/cCjcZhD.png" alt="logo">
						</a>
					</div>

					<div class="nav-collapse">
						<span></span>
					</div>
				</div>

				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#features">Features</a></li>
					<li><a href="#developer">Developer</a></li>
					<li><a href="#contact">Contact</a></li>
					{% if flag != "true" %}
					<li class="has-dropdown"><a href="javascript:function() { return false; }">Get Stared</a>
						<ul class="dropdown">
							<li><a href="/user/signin/">Sign in</a></li>
							<li><a href="/user/signup/">Sign up</a></li>
						</ul>
					</li>
					{% else %}
					<li><a href="/user/dashboard/">Back to Dashboard</a>
					{% endif %}

				</ul>
			</div>
		</nav>
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">Welcome to HIDDENRECIPE</h1>
							<p class="white-text">If there’s a recipe for success in life, it starts with picking the right ingredients....
							</p>
							<a href="/user/signup/"><button class="main-btn">Get Started!</button></a>
							<a href="#about"><button class="white-btn">Know more</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="about" class="section md-padding">
		<div class="container">
			<div class="row">
				<div class="section-header text-center">
					<h2 class="title">Welcome to HIDDENRECIPE</h2>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-cutlery"></i>
						<h3>Quality Food</h3>
						<p>Hidden Recipe helps you to cook quality food with the available ingredients with you.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-clock-o"></i>
						<h3>Save Time</h3>
						<p>Our service helps you to save time to cook a better food with the ingredients that you enter.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-lightbulb-o"></i>
						<h3>Find new Recipes</h3>
						<p>Are you food lover?<br>You can find or post new recipes in our site.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="features" class="section md-padding bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Why to Choose Us</h2>
					</div>
					<p>The preparation of good food is merely another expression of art, one of the joys of civilized living.</p>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Healthier ingredients.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Portion control.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Avoid food allergies and sensitivities.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Saves money and time.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="https://i.imgur.com/04UdXzR.jpg" alt="">
						<img class="img-responsive" src="https://i.imgur.com/7jwd912.jpg" alt="">
						<img class="img-responsive" src="https://i.imgur.com/ajyCwX7.jpg" alt="">
						<img class="img-responsive" src="https://i.imgur.com/9iZPw0b.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="developer" class="section md-padding">
		<div class="container">
			<div class="row">
				<div class="section-header text-center">
					<h2 class="title">Developer</h2>
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="https://i.imgur.com/jhMueRR.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/Krish.6987"><i class="fa fa-facebook"></i></a>
									<a href="https://plus.google.com/u/0/102914926637335703184"><i class="fa fa-google-plus"></i></a>
									<a href="https://www.linkedin.com/in/krishna-srinivas-89724910a/"><i class="fa fa-linkedin"></i></a>
									<a href="https://twitter.com/itsmeekrish"><i class="fa fa-twitter"></i></a>
									<a href="https://www.instagram.com/itsmee_krish/"><i class="fa fa-instagram"></i></a>
									<a href="https://www.youtube.com/channel/UCkUv5QECxQjB-2Xk9E6pbCA"><i class="fa fa-youtube-play"></i></a>
								</div>
								<center>
									<div style="padding-top:70px;padding-left: 10px; padding-right: 50px">
										" As I'm a fresh graduate from IT I'm very much interested in web application development.<br>
										I’m a full-time, full-stack Python Developer. I usually work with MongoDB. I'm ready to get hired to any company!! "<br>
										<a href="/aboutme/">Read More</a>
									</div>
								</center>
							</div>
						</div>
						<div class="team-content">
							<h3>KRISHNA SRINIVAS</h3>
							<span>Full Stack Developer</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
				</div>
			</div>
		</div>
	</div>
	<div id="contact" class="section md-padding">
		<div class="container">
			<div class="row">
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>+91 7680016987</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>support@hiddenrecipe.in</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>Visakhapatnam, Andhra Pradesh India.</p>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<form method="POST" class="contact-form" action="/contact/">
						<input type="text" name="name" class="input" placeholder="Name" minlength="5" required>
						<input type="email" name="email" class="input" placeholder="Email" required>
						<input type="text" name="subject" class="input" placeholder="Subject" minlength="5" required>
						<textarea class="input" name="message" placeholder="Message" minlength="10" required></textarea>
						<button class="main-btn">Send Message</button>
						{% csrf_token %}
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer" class="sm-padding bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-logo">
						<a href=""><img src="https://i.imgur.com/cCjcZhD.png" alt="logo"></a>
					</div>
					<div class="footer-follow">
						<a href="/terms-and-conditions/" style="padding-right: 10px;" title="">Terms and Conditions</a>
						<a href="/privacy-policy/" title="">Privacy Policy</a>
					</div>
					<ul class="footer-follow">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
					<div class="footer-copyright">
						<p>Copyright © 2018. All Rights Reserved. Designed by <a href="#home">HIDDEN RECIPE</a></p>
					</div>
				</div>
			</div>
		</div>
		<div align="center">Hit counter - {{ count }}</div>
		<div align="center">
			<p style="color:#1C1D21">Credits: Colorlib</p>
		</div>
	</footer>

	<div id="back-to-top"></div>
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="{% static 'index/main.js' %}"></script>
</body>

</html>