{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy | HiddenRecipe</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
    <link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'index/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'index/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
	<script>
		window.addEventListener("load", function () {
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#e25822"
					},
					"button": {
						"background": "#ffffff"
					}
				},
				"showLink": false,
				"theme": "classic",
				"position": "bottom-right"
			})
		});
	</script>
</head>

<body>
    <nav id="nav" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="/">
                        <img class="logo" src="https://i.imgur.com/e2UwLRI.png" alt="logo">
                    </a>
                </div>
                <div class="nav-collapse">
                    <span></span>
                </div>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                {% if link == "/" %}
                <li><a href="{{ link }}">Back to Home</a></li>
                {% else %}
                <li><a href="{{ link }}">Get back to Dashboard</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="about" class="section">
        <div class="container">
            <div class="row" style="padding-left: 15px; padding-right: 15px">
                <div class="section-header text-center">
                    <h2 class="title">Privacy Policy for Hidden Recipe</h2>
                </div>
                At Hidden Recipe, accessible from www.hiddenrecipe.in, one of our main priorities is the privacy of our
                visitors. This Privacy Policy document contains types of information that is collected and recorded by
                Hidden Recipe and how we use it.
                If you have additional questions or require more information about our Privacy Policy, do not hesitate
                to contact us through email at support@hiddenrecipe.in
                <div class="clearfix"></div>
                <br>
                <b>Log Files:</b><br>
                Hidden Recipe follows a standard procedure of using log files. These files log visitors when they visit
                websites. All hosting companies do this and a part of hosting services' analytics. The information
                collected by log files include internet protocol (IP) addresses, browser type, Internet Service
                Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are
                not linked to any information that is personally identifiable. The purpose of the information is for
                analyzing trends, administering the site, tracking users' movement on the website, and gathering
                demographic information.
                <div class="clearfix"></div>
                <br>
                <b>Cookies and Web Beacons:</b><br>
                Like any other website, Hidden Recipe uses 'cookies'. These cookies are used to store information
                including visitors' preferences, and the pages on the website that the visitor accessed or visited. The
                information is used to optimize the users' experience by customizing our web page content based on
                visitors' browser type and/or other information.
                <div class="clearfix"></div>
                <br>
                <b>Google Double Click DART Cookie:</b><br>
                Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to
                serve ads to our site visitors based upon their visit to www.website.com and other sites on the
                internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and
                content network Privacy Policy at the following URL – <br>https://policies.google.com/technologies/ads
                <div class="clearfix"></div>
                <br>
                <b>Privacy Policies:</b><br>
                You may consult this list to find the Privacy Policy for each of the advertising partners of Hidden
                Recipe.<br>
                Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that
                are used in their respective advertisements and links that appear on Hidden Recipe, which are sent
                directly to users' browser. They automatically receive your IP address when this occurs. These
                technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize
                the advertising content that you see on websites that you visit.<br>
                Note that Hidden Recipe has no access to or control over these cookies that are used by third-party
                advertisers.
                <div class="clearfix"></div>
                <br>
                <b>Third Party Privacy Policies:</b><br>
                Hidden Recipe's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising
                you to consult the respective Privacy Policies of these third-party ad servers for more detailed
                information. It may include their practices and instructions about how to opt-out of certain options.<br>
                You can choose to disable cookies through your individual browser options. To know more detailed
                information about cookie management with specific web browsers, it can be found at the browsers'
                respective websites. What Are Cookies?
                <div class="clearfix"></div>
                <br>
                <b>Children's Information:</b><br>
                Another part of our priority is adding protection for children while using the internet. We encourage
                parents and guardians to observe, participate in, and/or monitor and guide their online activity.<br>
                Hidden Recipe does not knowingly collect any Personal Identifiable Information from children under the
                age of 13. If you think that your child provided this kind of information on our website, we strongly
                encourage you to contact us immediately and we will do our best efforts to promptly remove such
                information from our records.
                <div class="clearfix"></div>
                <br>
                <b>Online Privacy Policy Only:</b><br>
                This Privacy Policy (created with the GDPR Privacy Policy Generator) applies only to our online
                activities and is valid for visitors to our website with regards to the information that they shared
                and/or collect in Hidden Recipe. This policy is not applicable to any information collected offline or
                via channels other than this website.
                <div class="clearfix"></div>
                <br>
                <b>Consent:</b><br>
                By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.<br><br>
            </div>
        </div>
    </div>
    <footer id="footer" class="sm-padding bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-logo">
                        <a href="/"><img src="https://i.imgur.com/cCjcZhD.png" alt="logo"></a>
                    </div>
                    <div class="footer-follow">
						<a href="/terms-and-conditions/" title="" style="padding-right: 10px;">Terms and Conditions</a>
						<a href="" title="">Privacy Policy</a>
					</div> 
                    <ul class="footer-follow">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <div class="footer-copyright">
                        <p>Copyright © 2018. All Rights Reserved. Designed by <a href="#home">HIDDEN RECIPE</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <p style="color:#1C1D21">Credits: Colorlib</p>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'index/main.js' %}"></script>
</body>

</html>