{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login | HiddenRecipe</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link rel="icon" href="https://i.imgur.com/54esHEh.png"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
	
	<script>
		function onSubmit(token) {
			var e = document.forms["LForm"]["email"].value;
			var p = document.forms["LForm"]["password"].value;
			var em = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
			if(p == "" || e == ""){
				alert("All fields required");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signin/";
			}
			if (em.test(e) != 1){
				alert("Invalid Email!!");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signin/";
			}
			else{
				document.getElementById("LForm").submit();
			}
		}
	</script>

</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-60 p-b-20">
				<form id="LForm" class="login100-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-70">
						Login Page
					</span>
					<center><p style="color: red">{{ message }}</p></center>
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="email" name="email" required autofocus>
						<span class="focus-input100" data-placeholder="Mailid"></span>
					</div>
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="password" name="password" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn g-recaptcha" data-sitekey="6LcunKIZAAAAANNpTDkRcTR4AQEU69wqf9klNSvk"
						data-callback="onSubmit">
							Signin
						</button>
					</div>
					<div class="login-more p-t-25" align = "center">
						<span class="txt1">
							Forgot
						</span>
						<a href="/user/forgot-password/" class="txt2">
						Password?
						</a><br>
						<span class="txt1">
							Don’t have an account?
						</span>
						<a href="/user/signup/" class="txt2">
							Sign up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'users/main.js' %}"></script>

</body>
</html>