{% load static %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register | HiddenRecipe</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link rel="icon" type="image/png" href="https://i.imgur.com/54esHEh.png"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
	<script>
		function onSubmit(token) {
			var n = document.forms["RForm"]["name"].value;
			var e = document.forms["RForm"]["email"].value;
			var m = document.forms["RForm"]["mobile"].value;
			var p = document.forms["RForm"]["password"].value;
			var em = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
			if(p == "" || e == "" || n == "" || m == ""){
				alert("All fields required");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signup/";
			}
			if (n.length < 5){
				alert("Name should be more than 5 characters!!");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signup/";
			}
			if (em.test(e) != 1){
				alert("Invalid Email!!");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signup/";
			}
			if (m.length < 10){
				alert("Invalid Mobile Number!!");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signup/";
			}			
			if (p.length < 6){
				alert("Password length should be more than 6 characters!!");
				return window.location.href = "http://www.hiddenrecipe.in:8000/user/signup/";
			}
			else{
				document.getElementById("RForm").submit();
			}
		}
	</script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-60 p-b-20">
				<form  id = "RForm" class="login100-form" method="POST" autocomplete="off">
					{% csrf_token %}
					<span class="login100-form-title p-b-70">
						Register Page
					</span>
					<input type="hidden" autocomplete="false">
					<center><p style="color: red">{{ message }}</p></center>
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="text" name="name" autofocus required >
						<span class="focus-input100" data-placeholder="Full Name"></span>
					</div>					
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="email" name="email" required >
						<span class="focus-input100" data-placeholder="Mailid"></span>
					</div>
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="number" name="mobile" required>
						<span class="focus-input100" data-placeholder="Mobile"></span>
					</div>
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="password" name="password" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn g-recaptcha" data-sitekey="6LcunKIZAAAAANNpTDkRcTR4AQEU69wqf9klNSvk"
						data-callback="onSubmit">
							Signup
						</button>
					</div>
					<div class="login-more p-t-25" align = "center">
						<span class="txt1">
							Already have an account?
						</span>

						<a href="/user/signin/" class="txt2">
							Signin
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'users/main.js' %}"></script>

</body>
</html>