{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Account Settings | Hidden Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/responsive.css' %}">
</head>


<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="/user/dashboard/" title=""><img src="https://i.imgur.com/54esHEh.png" width="38"
                                height="35" alt=""></a>
                    </div>
                    <!--logo end-->
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Enter ingredients/recipe names...">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/user/dashboard/" title="">
                                    <span><i class="fa fa-home"></i></span>
                                    Home
                                </a>
                            </li>
                            <li>
								<a href="#" title="" class="not-box-open">
									<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
									Messages
								</a>
								<div class="notification-box msg">
									<div class="nt-title">
										<h4>Settings</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
											<div class="noty-user-img">
												<img src="images/resources/ny-img1.png" alt="">
											</div>
											<div class="notification-info">
												<h3>Feature Temporarily unavailable!</h3>
											</div>
											<!--notification-info -->
										</div>
									</div>
									<!--nott-list end-->
								</div>
								<!--notification-box end-->
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									<span><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
									Notifications
								</a>
								<div class="notification-box">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
											<div class="noty-user-img">
												<img src="images/resources/ny-img1.png" alt="">
											</div>
											<div class="notification-info">
												<h3>Feature Temporarily unavailable!</h3>
											</div>
											<!--notification-info -->
										</div>
									</div>
									<!--nott-list end-->
								</div>
								<!--notification-box end-->
							</li>
                        </ul>
                    </nav>
                    <!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div>
                    <!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="" style="color: white" class="fa fa-sort-down" width="35" height="30" alt="">
                        </div>
                        <div class="user-account-settingss">
                            <h3>Settings</h3>
                            <ul class="us-links">
                                <li><a href="/user/dashboard/account-settings/" title="">Account Settings</a></li>
                                <li><a href="/terms-and-conditions/" title="">Terms & Conditions</a></li>
                            </ul>
                            <h3 class="tc"><a href="/user/logout/" title="">Logout</a></h3>
                        </div>
                        <!--user-account-settingss end-->
                    </div>
                </div>
                <!--header-data end-->
            </div>
        </header>
        <!--header end-->


        <section class="profile-account-setting">
            <br><br><br><br>
            <div class="container">
                <div class="account-tabs-setting">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="acc-leftbar">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-password-tab" data-toggle="tab" href="#nav-password"
                                        role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i>Change
                                        Password</a>
                                    <a class="nav-item nav-link" id="nav-edit-dp-tab" data-toggle="tab" href="#nav-edit-dp"
                                        role="tab" aria-controls="nav-edit-dp" aria-selected="false"><i class="fa fa-camera"></i>Change
                                        Profile Picture</a>
                                    <a class="nav-item nav-link" id="nav-security-login-tab" data-toggle="tab" href="#nav-security-login"
                                        role="tab" aria-controls="security-login" aria-selected="false"><i class="fa fa-user-secret"></i>Security
                                        and Login</a>
                                    <a class="nav-item nav-link" id="nav-deactivate-tab" data-toggle="tab" href="#nav-deactivate"
                                        role="tab" aria-controls="nav-deactivate" aria-selected="false"><i class="fa fa-random"></i>Deactivate
                                        Account</a>
                                </div>
                            </div>
                            <!--acc-leftbar end-->
                        </div>
                        <div class="col-lg-9">
                            <div class="tab-content" id="nav-tabContent">
                                <center><span style="color:red">{{ message }}</span></center>
                                <div class="tab-pane fade show active" id="nav-password" role="tabpanel"
                                    aria-labelledby="nav-password-tab">
                                    <div class="acc-setting">
                                        <h3>Change Password</h3>
                                        <form method="POST" onsubmit="return matchPasswords()">
                                            {% csrf_token %}
                                            <div class="cp-field">
                                                <h5>Old Password</h5>
                                                <div class="cpp-fiel">
                                                    {% if key == "false" %}
                                                    <input type="password" id="old-password" name="old-password"
                                                        placeholder="Old Password" style="border-color: red" required>
                                                    <span style="color:red">Incorrect Password</span>
                                                    {% else %}
                                                    <input type="password" name="old-password" placeholder="Old Password"
                                                        required>
                                                    {% endif %}
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5>New Password</h5>
                                                <div class="cpp-fiel">
                                                    <input type="password" id="new-password" name="new-password"
                                                        placeholder="New Password" minlength="6" required>
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5>Retype Password</h5>
                                                <div class="cpp-fiel">
                                                    <input type="password" id="retype-password" name="retype-password"
                                                        placeholder="Retype Password" required>
                                                    <i class="fa fa-lock"></i>
                                                    <span id="flag"></span>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5><a href="/user/forgot-password/?key=true" title="">Forgot Password?</a></h5>
                                            </div>
                                            <div class="save-stngs pd2">
                                                <ul>
                                                    <li><button type="submit">Change Password</button></li>
                                                </ul>
                                            </div>
                                            <!--save-stngs end-->
                                            <input type="hidden" name="flag_key" value="change_password">
                                        </form>
                                    </div>
                                    <!--acc-setting end-->
                                </div>
                                <div class="tab-pane fade" id="nav-edit-dp" role="tabpanel" aria-labelledby="nav-edit-dp-tab">
                                    <div class="acc-setting">
                                        <h3>Change Profile Pic</h3>
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="cp-field">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no"
                                                            class="picture-src" id="wizardPicturePreview" title="">
                                                        <input type="file" name="profile-pic" id="wizard-picture" class="">
                                                    </div>
                                                    <h6 class="">Choose Picture</h6>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5>Password</h5>
                                                <div class="cpp-fiel">
                                                    <input type="password" name="password" placeholder="Password"
                                                        required>
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                            </div>
                                            <div class="save-stngs pd3">
                                                <ul>
                                                    <li><button type="submit">Change</button></li>
                                                </ul>
                                            </div>
                                            <!--save-stngs end-->
                                            <input type="hidden" name="flag_key" value="edit_dp">
                                        </form>
                                    </div>
                                    <!--acc-setting end-->
                                </div><div class="tab-pane fade" id="nav-security-login" role="tabpanel" aria-labelledby="nav-security-login-tab">
                                    <div class="acc-setting">
                                        <h3>Security and Login</h3>
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="cp-field">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        {% if profile_pic == "" %}
                                                        <img src="https://i.imgur.com/ngIaMoW.png"
                                                            class="picture-src" id="wizardPicturePreview" title="">
                                                        {% else %}
                                                        <img src="/media/{{ profile_pic }}"
                                                            class="picture-src" id="wizardPicturePreview" title="">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5>Total logged devices:</h5>
                                                <div class="cpp-fiel">
                                                    <h1>You were logged in {{ session_count }} devices.</h1>
                                                </div>
                                                <div class="cp-field">
                                                    <div class="fgt-sec">
                                                        <input type="checkbox" name="security" id="c4">
                                                        <label for="c4">
                                                            <span></span>
                                                        </label>
                                                        <small>Log me out from all devices.</small>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5>Type your Password</h5>
                                                <div class="cpp-fiel">
                                                    <input type="password" name="password" placeholder="Password"
                                                        required>
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                            </div>
                                            <div class="save-stngs pd3">
                                                <ul>
                                                    <li><button type="submit">Logout</button></li>
                                                </ul>
                                            </div>
                                            <!--save-stngs end-->
                                            <input type="hidden" name="flag_key" value="security_login">
                                        </form>
                                    </div>
                                    <!--acc-setting end-->
                                </div>                                
                                <div class="tab-pane fade" id="nav-deactivate" role="tabpanel" aria-labelledby="nav-deactivate-tab">
                                    <div class="acc-setting">
                                        <h3>Deactivate Account</h3>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="cp-field">
                                                <h5>Type your Password</h5>
                                                <div class="cpp-fiel">
                                                    <input type="password" name="password" placeholder="Password"
                                                        required>
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                            </div>
                                            <div class="cp-field">
                                                <h5>Please Explain Further</h5>
                                                <textarea minlength="20" required></textarea>
                                            </div>
                                            <div class="cp-field">
                                                <div class="fgt-sec">
                                                    <input type="checkbox" name="cc" id="c4">
                                                    <label for="c4">
                                                        <span></span>
                                                    </label>
                                                    <small>Email option out</small>
                                                </div>
                                                <p>This means that you no longer receive any mails from us.</p>
                                            </div>
                                            <div class="save-stngs pd3">
                                                <ul>
                                                    <li><button type="submit">Deactivate</button></li>
                                                </ul>
                                            </div>
                                            <!--save-stngs end-->
                                            <input type="hidden" name="flag_key" value="deactivate">
                                        </form>
                                    </div>
                                    <!--acc-setting end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--account-tabs-setting end-->
            </div>
        </section>



        <footer>
            <div class="footy-sec mn no-margin">
                <div class="container">
                    <ul>
                        <li><a href="/#contact" title="">Contact us</a></li>
                        <li><a href="/aboutme/" title="">About Developer</a></li>
                        <li><a href="/privacy-policy/" title="">Privacy Policy</a></li>
                    </ul>
                    <p><i class="fa fa-copyright" aria-hidden="true"></i>Copyright 2018</p>
                    <img class="fl-rgt" src="https://i.imgur.com/e2UwLRI.png" width="210" height="50" style="padding-bottom: 10px"
                        alt="">
                </div>
            </div>
        </footer>

    </div>
    <!--theme-layout end-->



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'users/popper.js' %}"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'users/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/profilepic.js' %}"></script>
    <script type="text/javascript">
        function matchPasswords() {
            np = document.getElementById("new-password").value;
            rp = document.getElementById("retype-password").value;
            if (np == rp) {
                return true;
            }
            else {
                document.getElementById("new-password").style.borderColor = "red";
                document.getElementById("retype-password").style.borderColor = "red";
                return false;
            }

        }
    </script>
</body>

</html>