{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password | HiddenRecipe</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://i.imgur.com/54esHEh.png"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-60 p-b-20">
				<form id="LForm" class="login100-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-70">
						Forgot Password
					</span>
					<div class="wrap-input100 m-b-50">
						<input class="input100" type="email" name="email" required autofocus>
						<span class="focus-input100" data-placeholder="Enter Your mail-id"></span>
                    </div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Get Password
						</button>
                    </div>
                    <center><p style="color: red">{{ message }}</p></center>
					<div class="login-more p-t-25" align = "center">	
                        <span class="txt1">
                            Already have an account?
                        </span>
                        <a href="/user/signin/" class="txt2">
                            Signin
                        </a><br>				
						<span class="txt1">
							Don’t have an account?
						</span>
						<a href="/user/signup/" class="txt2">
							Sign up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'users/main.js' %}"></script>

</body>
</html>