{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{{ recipe.recipe_name }} | Hidden Recipe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" href="https://i.imgur.com/54esHEh.png" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/responsive.css' %}">
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/user/dashboard/" title=""><img src="https://i.imgur.com/54esHEh.png" width="38" height="35" alt=""></a>
					</div>
					<!--logo end-->
					<div class="search-bar">
						<form method="POST" action="/user/recipe/search/">
							{% csrf_token %}
							<input type="text" name="search" placeholder="Enter ingredients/recipe names...">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div>
					<!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/user/dashboard/" title="">
									<span><i class="fa fa-home"></i></span>
									Home
								</a>
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
									Messages
								</a>
								<div class="notification-box msg">
									<div class="nt-title">
										<h4>Settings</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
											<div class="noty-user-img">
												<img src="images/resources/ny-img1.png" alt="">
											</div>
											<div class="notification-info">
												<h3>Feature Temporarily unavailable!</h3>
											</div>
											<!--notification-info -->
										</div>
									</div>
									<!--nott-list end-->
								</div>
								<!--notification-box end-->
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									<span><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
									Notifications
								</a>
								<div class="notification-box">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
											<div class="noty-user-img">
												<img src="images/resources/ny-img1.png" alt="">
											</div>
											<div class="notification-info">
												<h3>Feature Temporarily unavailable!</h3>
											</div>
											<!--notification-info -->
										</div>
									</div>
									<!--nott-list end-->
								</div>
								<!--notification-box end-->
							</li>
						</ul>
					</nav>
					<!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div>
					<!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<img src="" class="fa fa-sort-down" style="color: white" width="35" height="30" alt="">
						</div>
						<div class="user-account-settingss">
							<h3>Settings</h3>
							<ul class="us-links">
								<li><a href="/user/dashboard/account-settings/" title="">Account Settings</a></li>
								<li><a href="/terms-and-conditions/" title="">Terms & Conditions</a></li>
							</ul>
							<h3 class="tc"><a href="/user/logout/" title="">Logout</a></h3>
						</div>
						<!--user-account-settingss end-->
					</div>
				</div>
				<!--header-data end-->
			</div>
		</header>
		<!--header end-->
		<main>
			<br><br><br>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<div class="picture-container">
														<div class="picture">
															{% if user_data.profile_pic == "" %}
															<img src="https://i.imgur.com/ngIaMoW.png" class="picture-src" id="wizardPicturePreview" title="">
															{% else %}
															<img src="/media/{{ user_data.profile_pic }}" class="picture-src" id="wizardPicturePreview" title="">
															{% endif %}
														</div>
													</div>
												</div>
											</div>
											<!--username-dt end-->
											<div class="user-specs">
												<h3>{{ user_data.name }}</h3>
											</div>
										</div>
										<!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<a href="/user/view-profile/" title="">View Profile</a>
											</li>
										</ul>
									</div>
									<!--user-data end-->
									<div class="tags-sec full-width">
										<ul>
											<li><a href="/#contact" title="">Contact us</a></li>
											<li><a href="/aboutme/" title="">About Developer</a></li>
											<li><a href="/privacy-policy/" title="">Privacy Policy</a></li>
										</ul>
										<div class="cp-sec">
											<img src="https://i.imgur.com/e2UwLRI.png" width="105" height="40" alt="Hidden Recipe">
											<p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2018</p>
										</div>
									</div>
									<!--tags-sec end-->
								</div>
								<!--main-left-sidebar end-->
							</div>
							<div class="col-lg-8 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
										<div class="user-picy">
											<img src="images/resources/user-pic.png" alt="">
										</div>
										<div class="post-st">
											<ul>
												<li><a class="post_project active" href="#" title="">Post a Recipe</a></li>
											</ul>
										</div>
										<!--post-st end-->
									</div>
									<!--post-st end-->
									<div id="report_box" class="post-topbar">
										<form action="/user/dashboard/report/?recipe_id={{ recipe.recipe_id }}" method="POST">
											{% csrf_token %}
											<div class="form-group">
												<b>Reason for reporting:</b><br><br>
												<textarea name="report_reason" class="form-control" id="report_reason" rows="3" required></textarea>
											</div>
											<button type="submit" class="btn" style="background-color: #e25822; color:white">Report</button>
											<button type="button" id="cancel" class="btn" style="background-color: #e25822; color:white">Cancel</button>
										</form>
									</div>
									<!--post-topbar end-->
									<div class="posts-section">
										<div class="post-bar">
											<div class="post_topbar">
												<div class="clearfix"></div>
												<div class="usy-dt">
													<img src="images/resources/us-pic.png" alt="">
													<div class="usy-name">
														{% if recipe.user_profile_pic == "" %}
														<span><img src="https://i.imgur.com/ngIaMoW.png" width="30" height="30" alt=""></span>
														{% else %}
														<span><img src="/media/{{ recipe.user_profile_pic }}" width="30" height="30" alt=""></span>
														{% endif %}
														<div class="usy-dt" align="right">
															<ul class="skill-tags">
																<li><a href="#" id="report" title="">Report</a></li>
															</ul>
														</div>
														<h3>{{ recipe.user_name }}</h3>
													</div>
												</div>
											</div>
											<div class="job_descp">
												<h3>{{ recipe.recipe_name }}</h3>
												<p>{{ recipe.description }}</p>
												{% for j in recipe.images %}
												<div><img src="/media/{{ j }}" width="100%"></div>
												{% endfor %}

												<ul class="skill-tags">
													<br><br>
													{% for j in recipe.ingredients %}
													<li><a href="#" title="">{{ j }}</a></li>
													{% endfor %}
												</ul>
											</div>
										</div>
										<!--post-bar end-->
									</div>
									<!--posts-section end-->
								</div>
								<!--main-ws-sec end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>
		</main>
		<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Post a Recipe</h3>
				<div class="post-project-fields">
					<form method="POST" action="/user/dashboard/post-recipe/" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Recipe Name" required>
							</div>
							<div class="col-lg-12">
								<input type="text" name="ingredients" placeholder="Ingredients (Please separate each ingredient with ',')"
								 required>
							</div>
							<div class="col-lg-12">
								<input type="file" name="images" accept="image/*" placeholder="Choose an image" required>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description" required minlength="50"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button type="submit" value="post">Post</button></li>
									<li><a href="" onclick="self.close()">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<!--post-project-fields end-->
			</div>
			<!--post-project end-->
		</div>
		<!--post-project-popup end-->
	</div>
	<!--theme-layout end-->
	<div align="center" style="color:#eeeeee; display: none;">Credits : Workwise</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="js/popper.js"></script> -->
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#report_box').hide();
			$("#report").click(function(){
				$("#report_box").toggle();
			});
			$("#cancel").click(function(){
				$("#report_box").hide();
			});
		});
	</script>
	<script type="text/javascript" src="{% static 'users/script.js' %}"></script>
	{% if message == "true" %}
	<script>
		alert("Reported Successfully!!")
	</script>
	{% endif %}
</body>

</html>